.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 16em;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 0.8em 1.4em;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
  p {
    span {
      margin-left: 1em;
      font-weight: 800;
    }
  }
}
