.char {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15em;
  border-radius: 12px;
  transition: all ease 0.3s;
  color: black;
  background-color: white;
  &:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.char__name {
  width: 100%;
  margin: 0;
  padding: 6px 0 6px 12px;
  border-radius: 12px 12px 0 0;
  color: #3e3952;
  background-color: #e9dce1;
  font-size: 1.4em;
  box-sizing: border-box;
}

.char__text {
  margin: 0.6em;
  span {
    font-weight: 800;
    color: #3e3952;
  }
}
