.error_boundary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
  }
}

.error_img {
  width: 14em;
  margin: 1.4em auto;
}

.error_boundary__reset {
  width: 5em;
  margin: 1em auto;
  font-size: 1.2em;
  font-weight: 800;
  background-color: #000;
  border-radius: 8px;
  color: #9fff82;
  border: 2px solid #9fff82;
  padding: 0.3em 0;
  transition: all ease 0.2s;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}
