.error_boundary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
  }
}

.error_img {
  width: 14em;
  margin: 0 auto;
}
