.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.spinner-circle {
  border: 8px solid rgba(72, 72, 72, 0.3);
  border-top: 8px solid #646cffaa;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
