.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 6.4em;
  background-color: #90787d;

  img {
    height: 4.8em;
  }
}

.searchbar__btn {
  height: 2.4em;
  padding: 0.2em 0.8em;
  font-size: 1.1em;
  background-color: #fff;
  border-radius: 6px;
  border: none;
  transition: all ease 0.2s;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.clear__btn {
  color: #fff;
  background-color: #413942;
}

// .search__btn {
// }

.searchbar__input {
  font-size: 1.1em;
  height: 2.1em;
  padding: 0.2em 1em;
  width: 50%;
  border-radius: 6px;
  border: none;
}
