:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.homePage {
  display: flex;
  flex-direction: column;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 1em 2em;
  background-color: rgb(254, 241, 221);
  box-sizing: border-box;
}

.homeLink {
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.6em;
  color: #000;
}

.navLink {
  text-decoration: none;
  font-weight: 300;
  font-size: 1.5em;
  color: #000000cd;
}
