.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings_perPage_input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 15px;
  margin-left: 2em;
}
